@charset "UTF-8";

/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background: #1f242d;
  color: #fff;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background-color: #1f242d;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #0ef;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 97.9%;
  padding: 20px 10%;
  background: #1f242d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  z-index: 3;
}

.navbar {
  position: relative;
}

.navbar a {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover {
  color: #0ef;
}

.navbar>a:not(:last-child) {
  margin-right: 35px;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 12%;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content p {
  font-size: 18px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
  line-height: 140%;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 span {
  color: #0ef;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease-in-out;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.social-media a:hover {
  background: #0ef;
  color: #1f242d;
  box-shadow: 0 0 20px #0ef;
}

.img-container {
  max-width: 400px;
  border: 8px solid #0ef;
  box-shadow: 0px 5px 15px 5px #0ef;
  border-radius: 20px;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
}

.img-container>img {
  width: 100%;
  border-radius: 10px;
  margin-right: -20px;
  pointer-events: none;
}

.burger {
  position: absolute;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 24px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  display: none;
}

.burger__main {
  border-radius: 100px;
  height: 4px;
  width: 24px;
  background: #fff;
  transition: all 0.3s ease 0s;
  z-index: 3;
}

.burger__main::before {
  content: "";
  border-radius: 100px;
  position: absolute;
  height: 4px;
  width: 24px;
  background: #fff;
  transition: all 0.3s ease 0s;
  transform: translateY(-8px);
}

.burger__main::after {
  content: "";
  border-radius: 100px;
  position: absolute;
  height: 4px;
  width: 24px;
  background: #fff;
  transition: all 0.3s ease 0s;
  transform: translateY(8px);
}

.burger-bg.active {
  width: 100vh;
  height: 200vh;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

.burger__main.active {
  transform: rotate(45deg);
}

.burger__main.active::before {
  transform: rotate(90deg);
}

.burger__main.active::after {
  transform: scale(0);
}

.about {
  padding: 40px 12%;
}

.about__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}

.about__text {
  font-size: 18px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1s;
  line-height: 140%;
}

.portfolio {
  padding: 100px 12%;
}

.portfolio__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}

.portfolio__works {
  margin-top: 50px;
}

.portfolio__works>a:hover {
  cursor: url(../img/link-external-regular-24.png) 2 2, pointer;
}

.portfolio__work {
  width: 100%;
  margin-bottom: 100px;
  position: relative;
  transition: all 2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio__work>img {
  max-width: 100%;
  height: auto;
  display: block;
  width: inherit;
  -o-object-fit: cover;
  object-fit: cover;
  border: 14px outset #96A2A4;
  border-radius: 10px;
  pointer-events: none;
}

.portfolio__work:hover .name {
  display: block;
  max-width: 250px;
  transition: all 0.3s ease;
}

.portfolio__work:hover .portfolio-img {
  transition: all 0.3s ease;
  opacity: 0.3;
}

.portfolio-container {
  max-width: 1280px;
}

.name {
  padding: 15px 20px;
  line-height: 140%;
  position: absolute;
  color: #0ef;
  font-size: 20px;
  text-transform: uppercase;
  border: 5px solid #0ef;
  box-shadow: 5px 5px 15px 5px #0ef;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  display: none;
  text-align: center;
}

.site1 {
  color: rgb(255, 192, 203);
  text-shadow: none;
  font-weight: 600;
  text-shadow: 0px 3px 3px rgba(255, 192, 203, 0.5);
}

.site2 {
  color: rgb(255, 255, 0);
  text-shadow: none;
  font-weight: 600;
  text-shadow: 0px 3px 3px rgba(255, 255, 0, 0.5);
}

.site3 {
  color: rgb(173, 6, 173);
  text-shadow: none;
  font-weight: 600;
  text-shadow: 0px 3px 3px rgba(173, 6, 173, 0.5);
}

.site4 {
  color: rgb(38, 35, 251);
  font-weight: 600;
  text-shadow: 0px 3px 3px rgba(38, 35, 251, 0.5);
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatImage {
  0% {
    transform: translateY();
  }

  50% {
    transform: translateY(-24px);
  }

  100% {
    transform: translateY();
  }
}

@media screen and (max-width: 1365px) {
  .home-content {
    max-width: 500px;
  }
}

@media screen and (max-width: 1265px) {
  .home-content {
    max-width: 400px;
  }

  .home-content h1 {
    font-size: 46px;
  }

  .home-content h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 1083px) {
  .home {
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    padding: 20px 10%;
  }

  .home-content {
    max-width: 100%;
  }

  .img-container {
    margin-top: 30px;
  }

  .about {
    padding: 40px 10%;
  }

  .portfolio__works {
    padding: 40px 0%;
  }

  .portfolio__work {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background-color: #1f242d;
  }

  *::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #0ef;
  }

  .navbar {
    display: none;
  }

  .navbar>a:last-child {
    margin-top: 40px;
  }

  .navbar.active {
    position: absolute;
    display: flex;
    top: 80px;
    right: 50px;
    flex-direction: column;
    z-index: 3;
  }

  .burger {
    display: flex;
  }

  .about__title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio__works {
    margin-top: 0px;
    padding-top: 15px;
  }

  .name {
    padding: 5px 10px;
    position: absolute;
    color: #0ef;
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 20px 5%;
  }

  .home {
    padding: 20px 5%;
  }

  .burger {
    right: 20px;
  }

  .about {
    padding: 40px 5%;
  }

  .portfolio {
    padding: 40px 5%;
  }

  .name {
    font-size: 14px;
    padding: 0px;
    max-width: 250px;
  }
}

/*# sourceMappingURL=styles.css.map */